

body{
  font-size: 100%;
}
/*login-form-start*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 500px;
  margin: auto;
  border: 1px solid #e6e6e6;
  padding: 5px 20px;
  /*background: #fdfdfd;*/
  background-color: #b4babede;
}
.user-login-form{
 /*      background: url(../img/event.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.login-page-wrapper{
    background: url(../img/event.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}
/* login form end */


input[type="submit"] {
    /*background-color: #253746;*/
    cursor: pointer;
    border: 0;
    padding: 12px 30px;
    line-height: 100%;
    margin-right: 2px;
    display: inline-block;
    border: 3px solid #253746;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;

}

/*
 background: url(../img/event.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
*/

/*
.login-page-wrapper #block-my-theme-local-tasks nav.tabs{
  display: none;
}
*/


/*login page start*/
.login-page-wrapper{
    background: url(../img/event.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.login-page-wrapper #block-my-theme-local-tasks nav.tabs ul.primary li {
      border-radius: 6px;
      background-color: #757f842e;
}

.login-page-wrapper #block-my-theme-local-tasks nav.tabs ul.primary li:first-child{
  display: none;
} 

.login-page-wrapper #block-my-theme-local-tasks nav.tabs ul.primary li a{
  background-color: #757f842e;
  border-radius: 6px;
  border-style: solid;
  text-shadow: none; 
}

.login-page-wrapper #block-my-theme-local-tasks nav.tabs ul.primary li a:hover{
  background-color: #656b6ff2;
  color: #ffffff;
  text-shadow: none;
  -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}
.login-page-wrapper .user-login-form #edit-actions{
  text-align: center;
}


@media screen and (min-width: 37.5em){
  .login-page-wrapper #block-my-theme-local-tasks nav.tabs ul.primary {
    text-align: center;
    background: none;
  }

  .login-page-wrapper #block-my-theme-local-tasks nav.tabs  ul.primary li {
      display: inline-block;
      float: none;
    }

   .login-page-wrapper #block-my-theme-content{
    padding-bottom: 10em;
   }
}
/*login page end*/




/*register page start*/
.register-page-wrapper{
    background: url(../img/event.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.register-page-wrapper #block-my-theme-local-tasks nav.tabs ul.primary li {
      border-radius: 6px;
      background-color: #757f842e;
}

.register-page-wrapper #block-my-theme-local-tasks nav.tabs ul.primary li:nth-child(2){
  display: none;
} 

.register-page-wrapper #block-my-theme-local-tasks nav.tabs ul.primary li a{
  background-color: #757f842e;
  border-radius: 6px;
  border-style: solid;
  text-shadow: none; 
}

.register-page-wrapper  #block-my-theme-local-tasks nav.tabs ul.primary li a:hover{
  background-color: #656b6ff2;
  color: #ffffff;
  text-shadow: none;
  -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.register-page-wrapper .page-title{
  text-align: center;
}

.register-page-wrapper .user-register-form #edit-actions{
  text-align: center;
}
@media screen and (min-width: 37.5em){

  .register-page-wrapper #block-my-theme-local-tasks nav.tabs ul.primary {
      text-align: center;
      background: none;
    }

  .register-page-wrapper #block-my-theme-local-tasks nav.tabs  ul.primary li {
      display: inline-block;
      float: none;
    }
}
/*register page start*/

